.footer {
    margin: 45px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px 30px; */
}

.footer-top-left h1 {
    background: linear-gradient(220deg, #b41fff, #df8908);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-backdrop-filter: text; */
    font-weight: 600;
}

.footer-top-left p {
    font-size: 18px;
    max-width: 380px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-email-input {
    display: flex;
    align-items: center;
    padding: 18px 27px;
    border-radius: 50px;
    gap: 12px;
    background-color: #d8d8d8;
    padding-right: 60px;


}

.footer-email-input input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: Outfit;
    font-size: 16px;
}

.footer-email-input img {
    filter: grayscale(100%) brightness(0);
}

.footer-top-right button {
    font-size: 16px;
    background: linear-gradient(220deg, #df8908, #b41fff);
    color: white;
    outline: none;
    border: none;
    padding: 22px 40px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;

    /* Hover */
    &:hover {
        background: #d8d8d8;
        color: black;
        box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.677);
        transform: scale(1.01);

    }
}

.footer-buttom {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.footer-buttom-right {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 30px;
}


@media(max-width:768px) {
    .footer {
        margin: 45px 8px;
    }

    .footer-top {
        flex-direction: column;
        gap: 40px;
    }

    .footer-buttom {
        flex-direction: column-reverse;
        cursor: pointer;
    }

    .footer-top-right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .footer-top-right button {
        padding: 15px 10px;
        font-size: 13px;
    }
    
    .footer-email-input {
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 12px 0px 10px 8px;
        gap: 10px;
        max-width: 250px;
    }
    .footer-email-input input{
        width: 80%;
    }
    .footer-buttom-left {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}